$text-color: #28292d;

#sec-08 {
  background-image: url(img/sec-08/bg-sm-lines.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5.7rem;
  padding-bottom: 2.5rem;
}

#sec-08 .row [class*=col-]:first-child {
  margin-bottom: 3rem;
}

.sec-08__title {
  font-family: RadomirEB;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: .3rem;
}

.sec-08__text {
  font-family: RadomirEB;
  font-size: pxToRem(20px);
  color: $text-color;
}

.sec-08__img-container .picture {
  display: block;
  width: pxToRem(290px);
  height: pxToRem(158px);
}

@media (max-width: 767px) {
  .sec-08__img {
    display: block;
    width: pxToRem(290px);
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .sec-08__img-container {
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  #sec-08 {
    background-image: url(img/sec-08/bg-md-lines.png);
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .sec-08__title {
    font-size: pxToRem(48px);
    margin-bottom: .8rem;
  }

  .sec-08__text {
    font-size: pxToRem(24px);
  }

  #sec-08 .row [class*=col-]:first-child {
    margin-bottom: 4.3rem;
  }

  .sec-08__img {
    display: block;
    width: pxToRem(592px);
  }

  #sec-08 [class*=col-]:last-of-type {
    position: relative;
    height: pxToRem(450px);
  }

  .sec-08__img-container .picture {
    display: block;
    width: pxToRem(733px);
    height: pxToRem(400px);
  }

  .sec-08__img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  #sec-08 {
    background-image: url("img/sec-08/bg-lg-lines.png");
    padding-top: 13.5rem;
    padding-bottom: 0;
  }

  .sec-08__text {
    padding-right: 4.9rem;
  }

  #sec-08 [class*=col-]:last-of-type {
    position: relative;
    height: pxToRem(516px);
  }

  .sec-08__img-container {
    top: -17.4%;
    left: 1.6%;
  }

  .sec-08__img-container .picture {
    display: block;
  }

  .sec-08__img {
    width: 45rem;
    height: auto;
  }
}
