@import "typografic.scss";
@import "main";

#sec-success {
  position: relative;
  padding-top: 1.7rem;
  background-image: url(img/success/bg-lines.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  &::before {
    display: block;
    content: url(img/success/cross.png);
    position: absolute;
    top: 25%;
    left: 34.9%;
  }

  &::after {
    display: block;
    content: url(img/success/double-arr.png);
    position: absolute;
    top: 58.3%;
    right: 34.8%;
  }
}

#sec-success .container {
  position: relative;
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
  &::before {
    display: block;
    content: url(img/success/cross.png);
    position: absolute;
    bottom: 12.1%;
    right: 49.5%;
  }
}

#sec-success .header {
  display: flex;
  justify-content: center;
  margin-bottom: 20.8rem;
}

#sec-success .logo {
  width: 45px;
  height: 30px;
  fill: #000;
}

#sec-success .logo-link {
  display: inline-block;
  text-decoration: none;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21.2rem;
}

.content-section__title {
  font-family: RadomirEB;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .6rem;
}

.content-section__text {
  font-family: RadomirR;
  font-size: pxToRem(18px);
  text-align: center;
  margin-bottom: 2.4rem;
}

.content-section__button {
  width: 27%;
  font-family: RadomirEB;
  font-size: pxToRem(14px);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #28292d;
  color: #fff;
  padding: 1rem 0;
  letter-spacing: 2px;
  box-shadow: 0 0 18px 9px #ccc;
}

// FOOTER
.footer {
  display: flex;
  justify-content: center;
}

.footer__link-container {
  display: flex;
  justify-content: space-around;
  width: 54%;
}

.footer__link {
  display: block;
  text-align: center;
  font-family: RadomirR;
  font-size: pxToRem(14px);
  text-decoration: none;
  color: #656668;
  letter-spacing: .4px;
  line-height: 1.4;
  transition: opacity .5s linear;
  &:hover {
    opacity: .5;
  }
}
